In [1]:
#read all libraries that reqired to run this project 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

In [2]:
#read attribute data
data = pd.read_excel('/Users/richshen/Desktop/GMP_GW/GMP_data.csv')

data.head()

/Users/richshen/opt/anaconda3/envs/sds2020/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.

,Ward name,Old code,New code,Average GCSE capped point scores - 2014,% with no qualifications - 2011,% with Level 4 qualifications and above - 2011,A-Level Average Point Score Per Student - 2013/14
0,City of London,00AA,E09000001,354.500000,6.7,68.4,662.900000
1,Barking and Dagenham - Abbey,00ABFX,E05000026,317.657759,16.4,34.5,682.570238
2,Barking and Dagenham - Alibon,00ABFY,E05000027,307.445732,31.2,16.7,627.927500
3,Barking and Dagenham - Becontree,00ABFZ,E05000028,295.451381,28.0,20.6,631.957944
4,Barking and Dagenham - Chadwell Heath,00ABGA,E05000029,293.437838,29.1,19.5,613.944304

In [3]:
url = 'https://data.london.gov.uk/download/statistical-gis-boundary-files-london/9ba8c833-6370-4b11-abdc-314aa020d5e0/statistical-gis-boundaries-london.zip'

! wget $url

--2021-05-05 17:07:09--  https://data.london.gov.uk/download/statistical-gis-boundary-files-london/9ba8c833-6370-4b11-abdc-314aa020d5e0/statistical-gis-boundaries-london.zip
正在解析主机 data.london.gov.uk (data.london.gov.uk)... 143.204.186.61, 143.204.186.41, 143.204.186.30, ...
正在连接 data.london.gov.uk (data.london.gov.uk)|143.204.186.61|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 302 Moved Temporarily
位置：https://airdrive-secure.s3-eu-west-1.amazonaws.com/london/dataset/statistical-gis-boundary-files-london/2016-10-03T13%3A52%3A28/statistical-gis-boundaries-london.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJDIMAIVZJDICKHA%2F20210505%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20210505T160710Z&X-Amz-Expires=300&X-Amz-Signature=721103ad05f951aea5691377a4b71f57f7fcda2883f132ddd50d150b754a4da1&X-Amz-SignedHeaders=host [跟随至新的 URL]
--2021-05-05 17:07:09--  https://airdrive-secure.s3-eu-west-1.amazonaws.com/london/dataset/statistical-gis-boundary-files-london/2016-10-03T13%3A52%3A28/statistical-gis-boundaries-london.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJJDIMAIVZJDICKHA%2F20210505%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20210505T160710Z&X-Amz-Expires=300&X-Amz-Signature=721103ad05f951aea5691377a4b71f57f7fcda2883f132ddd50d150b754a4da1&X-Amz-SignedHeaders=host
正在解析主机 airdrive-secure.s3-eu-west-1.amazonaws.com (airdrive-secure.s3-eu-west-1.amazonaws.com)... 52.218.57.88
正在连接 airdrive-secure.s3-eu-west-1.amazonaws.com (airdrive-secure.s3-eu-west-1.amazonaws.com)|52.218.57.88|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 200 OK
长度：28666674 (27M) [application/zip]
正在保存至: “statistical-gis-boundaries-london.zip.2”

statistical-gis-bou 100%[===================>]  27.34M  13.0MB/s  用时 2.1s

2021-05-05 17:07:12 (13.0 MB/s) - 已保存 “statistical-gis-boundaries-london.zip.2” [28666674/28666674])

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 7 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Ward name                                          625 non-null    object
 1   Old code                                           625 non-null    object
 2   New code                                           625 non-null    object
 3   Average GCSE capped point scores - 2014            625 non-null    float64
 4   % with no qualifications - 2011                    625 non-null    float64
 5   % with Level 4 qualifications and above - 2011     625 non-null    float64
 6   A-Level Average Point Score Per Student - 2013/14  625 non-null    float64
dtypes: float64(4), object(3)
memory usage: 34.3+ KB

In [5]:
map_df = gpd.read_file(f"zip://statistical-gis-boundaries-london.zip!statistical-gis-boundaries-london/ESRI/London_Ward_CityMerged.shp")
map_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NAME        625 non-null    object
 1   GSS_CODE    625 non-null    object
 2   HECTARES    625 non-null    float64
 3   NONLD_AREA  625 non-null    float64
 4   LB_GSS_CD   625 non-null    object
 5   BOROUGH     625 non-null    object
 6   POLY_ID     625 non-null    int64
 7   geometry    625 non-null    geometry
dtypes: float64(2), geometry(1), int64(1), object(4)
memory usage: 39.2+ KB

In [6]:
merged = map_df.set_index('GSS_CODE').join(data.set_index('New code'))

In [7]:
merged

,NAME,HECTARES,NONLD_AREA,LB_GSS_CD,BOROUGH,POLY_ID,geometry,Ward name,Old code,Average GCSE capped point scores - 2014,% with no qualifications - 2011,% with Level 4 qualifications and above - 2011,A-Level Average Point Score Per Student - 2013/14
GSS_CODE,,,,,,,,,,,,,
E05000405,Chessington South,755.173,0.000,E09000021,Kingston upon Thames,50840,"POLYGON ((516401.600 160201.800, 516407.300 16...",Kingston upon Thames - Chessington South,00AXGC,321.327820,19.1,25.3,643.372500
E05000414,Tolworth and Hook Rise,259.464,0.000,E09000021,Kingston upon Thames,117160,"POLYGON ((517829.600 165447.100, 517837.100 16...",Kingston upon Thames - Tolworth and Hook Rise,00AXGM,337.525210,18.4,30.0,714.314130
E05000401,Berrylands,145.390,0.000,E09000021,Kingston upon Thames,50449,"POLYGON ((518107.500 167303.400, 518114.300 16...",Kingston upon Thames - Berrylands,00AXFY,342.667532,11.9,48.4,733.727027
E05000400,Alexandra,268.506,0.000,E09000021,Kingston upon Thames,50456,"POLYGON ((520480.000 166909.800, 520490.700 16...",Kingston upon Thames - Alexandra,00AXFX,353.310448,15.8,32.7,762.220833
E05000402,Beverley,187.821,0.000,E09000021,Kingston upon Thames,117161,"POLYGON ((522071.000 168144.900, 522063.900 16...",Kingston upon Thames - Beverley,00AXFZ,372.304425,15.2,41.7,761.521429
...,...,...,...,...,...,...,...,...,...,...,...,...,...
E05000042,Whalebone,155.399,0.000,E09000002,Barking and Dagenham,117022,"POLYGON ((549410.700 187450.700, 549391.200 18...",Barking and Dagenham - Whalebone,00ABGP,310.845528,24.0,22.4,645.242453
E05000030,Eastbrook,345.060,0.000,E09000002,Barking and Dagenham,50856,"POLYGON ((549991.500 184928.500, 549988.900 18...",Barking and Dagenham - Eastbrook,00ABGB,305.948276,29.9,18.5,670.104124
E05000029,Chadwell Heath,338.422,0.000,E09000002,Barking and Dagenham,117014,"POLYGON ((547715.200 187914.200, 547712.500 18...",Barking and Dagenham - Chadwell Heath,00ABGA,293.437838,29.1,19.5,613.944304
E05000037,Parsloes,124.384,0.000,E09000002,Barking and Dagenham,117017,"POLYGON ((547381.600 185753.600, 547377.500 18...",Barking and Dagenham - Parsloes,00ABGJ,312.205839,31.8,16.0,665.932895
E09000001,City of London,314.943,24.546,E09000001,City of London,122502,"POLYGON ((531361.300 180691.000, 531313.200 18...",City of London,00AA,354.500000,6.7,68.4,662.900000

In [8]:
merged.to_csv(r'/Users/richshen/Desktop/GMP_new.csv')

In [9]:
merged.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 625 entries, E05000405 to E09000001
Data columns (total 13 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   NAME                                               625 non-null    object
 1   HECTARES                                           625 non-null    float64
 2   NONLD_AREA                                         625 non-null    float64
 3   LB_GSS_CD                                          625 non-null    object
 4   BOROUGH                                            625 non-null    object
 5   POLY_ID                                            625 non-null    int64
 6   geometry                                           625 non-null    geometry
 7   Ward name                                          625 non-null    object
 8   Old code                                           625 non-null    object
 9   Average GCSE capped point scores - 2014            625 non-null    float64
 10  % with no qualifications - 2011                    625 non-null    float64
 11  % with Level 4 qualifications and above - 2011     625 non-null    float64
 12  A-Level Average Point Score Per Student - 2013/14  625 non-null    float64
dtypes: float64(6), geometry(1), int64(1), object(5)
memory usage: 84.5+ KB

In [10]:
merged = merged.to_crs(epsg=4326)

In [11]:
merged.to_file(r'/Users/richshen/Desktop/GMP_json.geojson', driver="GeoJSON")